:root {
  --text-color-white: rgb(0, 0, 0);
}
.card-event-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.card-inner-event-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px rgb(0 0 0 / 17%);
  border-radius: 7px;
  max-width: 250px;
  width: 100%;
}

.event-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.small-card-img {
  width: 20px;
  height: 20px;
  margin: 0;
}
.card-footer-sec {
  display: flex;
  align-items: center;
  margin: 6px;
  padding: 2px;
  color: var(--text-color-white);
}

.section-cardinfo {
  display: flex;
  flex-direction: column;
}
#cart-font1 {
  font-size: 10px;
  margin: 10px;
  color: var(--text-color-white);
}
#cart-font2 {
  font-size: 9px;
  margin: 0 0 0 10px;
  color: var(--text-color-white);
}
.inner-span {
  font-size: 8px;
}
.margin {
  margin-left: auto;
}
