.card-container {
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: white;
  border-radius: 5px;
  padding: 12px 16px;
  margin: 10px 0;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}

.card-img {
  width: 40px;
  height: 40px;
  margin-left: 8px;
  margin-right: 3px;
}
.card-section {
  display: flex;
  flex-direction: column;
}

.card-sec-text1 {
  font-size: 12px;
  color: rgb(90, 88, 86);
  margin-bottom: 3px;
}
.card-sec-text2 {
  font-size: 10px;
}
