.main-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  overflow-x: hidden;
}

.container-card {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 250px;
  gap: 20px;

  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;

  width: 100%; /* ✅ Important */
  max-width: 100%; /* ✅ Prevent overflow */
}

/* Prevent cards from expanding */
.container-card > * {
  min-width: 250px;
}

.container-card::-webkit-scrollbar {
  height: 6px;
}

.container-card::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.card-event-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}
/* Tablet */
@media (max-width: 992px) {
  .card-event-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 576px) {
  .card-event-container {
    grid-template-columns: 1fr;
  }
}
