.students-container {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 10px;
  gap: 10px;
}

.footer-btn {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 6px;
}
