.students-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
}

.footer-btn {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.header-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
