.custom-table {
  background-color: var(--light-dark-color);
}
/* Light Mode */
.custom-table {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode */
body.dark .custom-table {
  background-color: #1e1e1e;
  color: #ffffff;
}

/* Header */
body.dark .custom-table .p-datatable-thead > tr > th {
  background-color: #2c2c2c;
  color: white;
}

/* Rows */
body.dark .custom-table .p-datatable-tbody > tr {
  background-color: #1e1e1e;
  color: white;
}

body.dark .custom-table .p-datatable-tbody > tr:hover {
  background-color: #333333;
}
