.form-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form-row {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.form-control {
  flex: 1;
}

.btn-submit {
  margin-top: 16px;
  padding: 10px 20px;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  .form-column {
    gap: 16px;
  }

  .form-row {
   flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .form-column {
    flex-direction: column;
  }

  .form-row {
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 768px) {
  .form-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .form-row {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
  }
}
