/* #root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f6fa;
  margin: 0;
  padding: 0;
} */

body.dark .p-datatable {
  background-color: #1e1e1e;
  color: white;
}